# =========================

# Dependencies

# =========================

node_modules/
.venv311/
venv/
env/
.venv311
# =========================

# Environment variables

# =========================

.env
.env.*
!.env.example

# =========================

# Logs

# =========================

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================

# Build / Output

# =========================

dist/
build/
out/
.next/

# =========================

# Python cache

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# OS files

# =========================

.DS_Store
Thumbs.db

# =========================

# Editor / IDE

# =========================

.vscode/
.idea/
*.swp

# =========================

# Coverage / testing

# =========================

coverage/
.pytest_cache/

# =========================

# Misc

# =========================

*.tmp
*.temp
*.bak
*.cache
